<header>
    <div id="header-loader"></div>
        
    <div class="header-container">
        <div id="logo-text" class="heading-container" title="Home page">
            <a class="logo-text" href="/">Cloud Photos</a>
        </div>

        <div class="search">
            <form method="POST" action = "{{ url_for('main.search_results') }}">
                <input id="search" type="text" name="search" 
                    placeholder="Search"
                    rows=20
                    
                >
                <button type="submit" >Submit</button>          
            </form> 
        </div>

        <!-- The use of a drop down menu protects the website from input based attacks such as SQL injection and XSS attacks because no user defined input will be used -->
        <div class="category">
            <label for="category">Category:</label> 
            <select name="category" id="category" onchange = "if (this.value)window.location.href=this.value"> 
                <option></option> 
                <option value="/">All</option> 
                <option>Nature</option> 
                <option>Animals</option> 
                <option>Architecture</option> 
                <option>Other</option> 
            </select>
        </div>

        <div class="navigation-links-container">
            <div class="navigation-buttons-container">
                <div class="icon-container highlight white">
                    <a href="{{url_for('main.profile')}}">
                        <img href="{{ url_for('main.profile') }}" src="{{ url_for('static', filename='icons/community.png')}}" alt="community">
                    </a>    
                </div>
            </div>
            
            {% if current_user.is_authenticated %}
            <div class="link-box">
                <a href="{{ url_for('auth.logout') }}">Logout</a>
            </div>
            {% if current_user.admin %}
            <div class="link-box">
                <a href="{{ url_for('main.adminpage') }}">Admin</a>
            </div>
            {% endif %}
            
            {% else %}
            <div class="link-box">
                <a href="{{ url_for('auth.login') }}">Login</a>
            </div>  
            <div class="link-box">
                <a href="{{ url_for('auth.signup') }}">Sign up</a>
            </div>
            {% endif %}
        </div>
    </div>  
</header>   
