<header>
    <div id="header-loader"></div>
        
    <div class="header-container">
        <div id="logo-text" class="heading-container" title="Home page">
            <a class="logo-text" href="/">Cloud Photos</a>
        </div>

        <label for="category">Category:</label> 
        <select name="category" id="category" onchange = "if (this.value)window.location.href=this.value"> 
            <option></option> 
            <option value="/">All</option> 
            <option>Nature</option> 
            <option>Animals</option> 
            <option>Architecture</option> 
            <option>Other</option> 
        </select>

        <div class="navigation-links-container">
            <div class="navigation-buttons-container">
                <div class="icon-container highlight white">
                    <img src="{{ url_for('static', filename='icons/community.png') }}" alt="community">
                </div>
            </div>
            
            {% if current_user.is_authenticated %}
            <div class="link-box">
                <a href="{{ url_for('auth.logout') }}">Logout</a>
            </div>
            
            {% else %}
            <div class="link-box">
                <a href="{{ url_for('auth.login_post') }}">Login</a>
            </div>  
                
            <div class="link-box">
                <a href="{{ url_for('auth.signup_post') }}">Sign up</a>
            </div>
            {% endif %}
        </div>
    </div>  
</header>   
